* {
    font-family: 'Courier New';
}
body {
    background-color: dimgray;
    margin: 0px;
    background-image: url(matrix.jpg);
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: center;
    background-attachment: fixed;
}
div.nav-bar {
    padding: 4px;
    margin: 1px;
    border: 2px solid purple;
}
li.nav-bar {
    list-style-type: none;
    display: inline;
    margin-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
    background-color:  lightgreen;
}
a:link
{
    color: darkred; 
    text-decoration: none;
}
a:visited
{
    color: purple;
    text-decoration: none;
}
p{
    color: green;
}
h1{
    color:green;
}
h2 {
    color:white;
}
hr {
    color: whitesmoke;
    padding: 0px;
    margin: 3px;
}
div {
    background-color: black;
}
div.body {
    margin-left: 100px;
    margin-right: 100px;
    padding: 4px;
    height: 100%
}
footer {
    background-color: black;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
}
footer > h3{
    text-align: center;
}